body {
    background-color:rgb(240, 236, 236);
    color:rgb(4, 1, 19);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 25px;
}

h1 {
    text-align: center;
}

h2, h3{
    text-align: left;
}

footer{
    background-color: black;
    color: white;
    text-align:center;
    height: 20px;
    position: fixed;
    bottom: 0px;
    right: 5px;
    left: 5px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%
}
    